<?xml version="1.0"?>

<configuration>

    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false"/>
    </configSections>
    <appSettings>
        <add key="CompanyName.ProductName.Modules.Forum.ConnectionString" value="Data Source=(local);Initial Catalog=forum;Integrated Security=True" />
    </appSettings>
    <connectionStrings>
        <add name="ApplicationServices"
             connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <unity>
        <typeAliases>
            <typeAlias alias="IObjectEventMapping" type="EventBasedDDD.IObjectEventMapping, EventBasedDDD"/>
            <typeAlias alias="IUnitOfWork" type="EventBasedDDD.IUnitOfWork, EventBasedDDD"/>

            <typeAlias alias="ForumObjectEventMapping" type="CompanyName.ProductName.Modules.Forum.ForumObjectEventMapping, CompanyName.ProductName.Modules.Forum"/>

            <typeAlias alias="IForumQueryService" type="CompanyName.ProductName.Modules.Forum.ApplicationServices.IForumQueryService, CompanyName.ProductName.Modules.Forum.ApplicationService"/>
            <typeAlias alias="IGroupService" type="CompanyName.ProductName.Modules.Forum.ApplicationServices.IGroupService, CompanyName.ProductName.Modules.Forum.ApplicationService"/>
            <typeAlias alias="GroupService" type="CompanyName.ProductName.Modules.Forum.ApplicationServices.GroupService, CompanyName.ProductName.Modules.Forum.ApplicationService"/>
            <typeAlias alias="ISectionService" type="CompanyName.ProductName.Modules.Forum.ApplicationServices.ISectionService, CompanyName.ProductName.Modules.Forum.ApplicationService"/>
            <typeAlias alias="SectionService" type="CompanyName.ProductName.Modules.Forum.ApplicationServices.SectionService, CompanyName.ProductName.Modules.Forum.ApplicationService"/>

            <typeAlias alias="LinqToSqlQueryService" type="CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider.LinqToSqlQueryService, CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider"/>
            <typeAlias alias="IDataContextProvider" type="CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider.IDataContextProvider, CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider"/>
            <typeAlias alias="DataContextProvider" type="CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider.DataContextProvider, CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider"/>
            <typeAlias alias="LinqToSqlUnitOfWork" type="CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider.LinqToSqlUnitOfWork, CompanyName.ProductName.Modules.Forum.LinqToSqlDataProvider"/>

            <typeAlias alias="PerWebRequest" type="CompanyName.ProductName.Modules.Forum.Website.UnityPerWebRequestLifetimeManager, CompanyName.ProductName.Modules.Forum.Website"/>
            <typeAlias alias="IModelErrorLocalizationRepository" type="CompanyName.ProductName.Modules.Forum.Website.IModelErrorLocalizationRepository, CompanyName.ProductName.Modules.Forum.Website"/>
            <typeAlias alias="ModelErrorResourceStringRepository" type="CompanyName.ProductName.Modules.Forum.Website.ModelErrorResourceStringRepository, CompanyName.ProductName.Modules.Forum.Website"/>
            <typeAlias alias="IViewDataErrorLocalizationRepository" type="CompanyName.ProductName.Modules.Forum.Website.IViewDataErrorLocalizationRepository, CompanyName.ProductName.Modules.Forum.Website"/>
            <typeAlias alias="ViewDataErrorResourceStringRepository" type="CompanyName.ProductName.Modules.Forum.Website.ViewDataErrorResourceStringRepository, CompanyName.ProductName.Modules.Forum.Website"/>
        </typeAliases>
        <containers>
            <container>
                <types>
                    <type type="IObjectEventMapping" mapTo="ForumObjectEventMapping"><lifetime type="singleton" /></type>
                    <type type="IDataContextProvider" mapTo="DataContextProvider"><lifetime type="PerWebRequest" /></type>
                    <type type="IUnitOfWork" mapTo="LinqToSqlUnitOfWork"><lifetime type="PerWebRequest" /></type>

                    <type type="IForumQueryService" mapTo="LinqToSqlQueryService"><lifetime type="PerWebRequest" /></type>
                    <type type="IGroupService" mapTo="GroupService"><lifetime type="PerWebRequest" /></type>
                    <type type="ISectionService" mapTo="SectionService"><lifetime type="PerWebRequest" /></type>
                    
                    <type type="IModelErrorLocalizationRepository" mapTo="ModelErrorResourceStringRepository"><lifetime type="singleton" /></type>
                    <type type="IViewDataErrorLocalizationRepository" mapTo="ViewDataErrorResourceStringRepository"><lifetime type="singleton" /></type>
                </types>
            </container>
        </containers>
    </unity>
    <system.web>
        <httpModules>
            <add name="UnityPerWebRequestLifetimeModule" type="CompanyName.ProductName.Modules.Forum.Website.UnityPerWebRequestLifetimeModule, CompanyName.ProductName.Modules.Forum.Website" />
        </httpModules>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <machineKey validationKey="282487E295028E59B8F411ACB689CCD6F39DDD21E6055A3EE480424315994760ADF21B580D8587DB675FA02F79167413044E25309CCCDB647174D5B3D0DD9141" decryptionKey="8B6697227CBCA902B1A0925D40FAA00B353F2DF4359D2099" validation="SHA1"/>
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" loginUrl="~/Account/LogOn" />
        </authentication>

        <membership>
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
                     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                     applicationName="/" />
            </providers>
        </membership>

        <profile>
            <providers>
                <clear/>
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>

        <roleManager enabled="false">
            <providers>
                <clear/>
                <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>

        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="UnityPerWebRequestLifetimeModule"/>
            <add name="UnityPerWebRequestLifetimeModule" type="CompanyName.ProductName.Modules.Forum.Website.UnityPerWebRequestLifetimeModule, CompanyName.ProductName.Modules.Forum.Website"/>
        </modules>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>

